
input{
    width: 100%;
    height: 60px;
    padding: 21px 31px;
    border-radius: 6px;
    border: 1px solid #333333;
    outline: none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
    
    &::placeholder{
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 18.75px;
        text-align: left;
        color: #13274380;        
    }
}