
.main{
    font-family: Roboto;
    font-size: 72px;
    font-weight: 700;
    line-height: 84.38px;
    letter-spacing: 0.05em;
    text-align: left;    
}

.header{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 500;
    line-height: 42.19px;
    text-align: left;    
}

.header2{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;    
}

.cardheader{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: center;    
}

.cardNumber{
    font-family: Lato;
    font-size: 100px;
    line-height: 120px;
    text-align: center;
    color: #10101014;    
}

.p14{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: left;
    color: #FFFFFF;    
}

.p{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;    
}